/data
/utils	
1_calibration_images.py
2_camera_calibration.py
3_detect_aruco.py
4_cube_aruco.py
5_AR_video_plane.py
6_bonus.py
seminar.ipynb
bonus.ipynb
hw.ipynb
obj_to_pckl.ipynb
utils.py

__pycache__/
*/__pycache__/
*/.DS_Store
.DS_Store